body {
  margin: 0;
  background-color: #1e1e1e;
  font-family: Inter, sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px 20px;
}

.header__logo {
  display: block;
  width: 78px;
}

.header__logo-image {
  width: 100%;
}

.header__menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
}

.header__menu-link {
  color: #f5f5f5;
  font-size: 16px;
  font-style: normal;
  line-height: 1.2; /* 120% */
}

.header__menu-item_active .header__menu-link {
  text-decoration: none;
}

.cover {
  padding: 7px 24px 32px 20px;
  background-image: url(../images/cover.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 95% auto;
  min-height: 200px;
}

.cover__title {
  /*display: flex;
  flex-direction: column;
  align-items: start;*/
  color: #fff;
  font-family: 'EB Garamond', serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 100%;
}

.accent-span {
  display: block;
}

.text-center {
  /*align-self: center;*/
  text-align: center;
}

.text-right {
  /*align-self: end;*/
  text-align: end;
}

.intro {
  padding: 0 20px 38px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.intro__heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 12px;
  color: #ccc;
  font-size: 16px;
}

.intro__title {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
}

.intro__date {
  white-space: nowrap;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}

.intro__main-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: #f5f5f5;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.35;
}

.reasons {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.content-section__subtitle {
  font-family: 'EB Garamond', serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.15;
}

.content-section__introduction {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.35;
}

.content-section__list {
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.content-section__list-item {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.35;
}

.content-section__list-accent {
  font-weight: 700;
}

.how-to {
  padding: 40px 20px 60px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.cards-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px;
}

.card__author {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card__author-photo {
  width: 100px;
  height: auto;
  border-radius: 50px;
  
}

.card__author-name {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.35;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card__title {
  font-family: 'EB Garamond', serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.35;
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.35;
}

.card_theme_dark {
  color: #f5f5f5;
  border-radius: 30px;
  background: #343434;
}

.card_theme_bright {
  color: #131313;
  border-radius: 30px;
  background: #fee42a;
}



.content-section {
  /*display: flex;*/
  box-sizing: border-box;
  max-width: 360px;
  /*min-height: 100px;*/
  margin: auto;
}

.content-section_theme_dark {
  background-color: #131313;
  color: #f5f5f5;
}

.content-section_theme_bright {
  background-color: #fee42a;
  color: #131313;
}

.footer {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--yellow-bg, #FEE42A);
}

.footer__links {
  display: flex;
  gap: 16px;
  list-style: none;
}